*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    background: rgb(237, 219, 185);
}
.loading{
    width: 200px;
    height: 200px;
    border: 2cqh solid rgb(86, 85, 83);
    border-radius: 50%;
    border-left: 20px solid blue;
    margin: 80px ;
    margin-left: 400px;
    animation: move 1.2s  infinite;
}
@keyframes move{
    /* 0%{transform: rotate(0deg);} */
    100%{transform: rotate(360deg);}
}