@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,100&family=Roboto:ital,wght@0,100;0,400;0,500;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    /* background: #6C7A89; */
    justify-content: space-between;
    padding: 20px;
    backdrop-filter: blur(30px);
    /*  */

}
body{
    background: #E0E7E9;
}
header{
    max-width: 3400px;
    min-height: 1000px;
    background-image: url(./img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}
.logo{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    
}
.logo .content h2{
    margin: 10px;
    font-size: 40px;
    padding: 5px;
    margin-left: 60px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 90px;
    width: 90px;
}
.link{
    display: flex;
    margin-right: 50px;
    
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-weight: 500;
    font-size: 20px;
}
ul li{
   display: flex;  
   cursor:pointer;
}
ul li:hover{
    border-bottom:5px solid #E0E7E9;
}